# Ignore everything
/*
# Except for dotfiles
!/.*
#/.config/VirtualBox/*
.Xauthority
.bash_history
.lesshst
.viminfo
.vimperator/
.vim/bundle/
.mozilla/
.npm/
.pki/
.sass-cache/
.gem/
.local/
.ionic/
.cache/
.android/
